<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Vuebnb</title>
  <link rel="stylesheet" href="node_modules/open-sans-all/css/open-sans.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="toolbar">
	  <img class="icon" src="logo.png">
	  <h1>vuebnb</h1>
	</div>

	<div id="app">
		<div class="header">
			<div class="header-img" 
					 :style="headerImageStyle"
					 @click="modalOpen = true"
			>
				<button class="view-photos">View Photos</button>
			</div>
		</div>
	  <div class="container">
	  	<div class="heading">
	  		<h1>{{ title }}</h1>
	  		<p>{{ address }}</p>
	  	</div>

	  	<hr>

	  	<div class="about">
	  		<h3>About this listing</h3>
	  		<p :class="{ contracted: contracted }">{{ about }}</p>
	  		<button v-if="contracted" class="more" @click="contracted = false">+ More</button>
	  	</div>
  		
  		<hr>

	  	<div class="lists">
				<div class="amenities list">
					<div class="title"><strong>Amenities</strong></div>
					<div class="content">
						<div class="list-item" v-for="amenity in amenities">
							<i class="fa fa-lg" :class="amenity.icon"></i>
							<span>{{ amenity.title }}</span>
						</div>
					</div>
				</div><!-- amenities -->

				<hr>

				<div class="prices list">
					<div class="title"><strong>Prices</strong></div>
					<div class="content">
						<div class="list-item" v-for="price in prices">
							{{ price.title }}: <strong>{{ price.value }}</strong>
						</div>
					</div>
				</div><!-- prices -->
	  	</div><!-- lists -->
	  </div><!-- container -->

	  <div id="modal" :class="{ show : modalOpen }">
	  	<button @click="modalOpen = false" class="modal-close">&times;</button>
	  	<div class="modal-content">
	  		<img src="sample/header.jpg">
	  	</div>
	  </div>
	</div><!-- app -->

	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="sample/data.js"></script>
	<script src="app.js"></script>
	<script>
		var app = new Vue({
			el: '#app',

			data: {
				headerImageStyle: {
					'background-image': 'url(sample/header.jpg)'
				},
				// from 'sample/data.js'
				title: sample.title,
				address: sample.address,
				about: sample.about,
				amenities: sample.amenities,
				prices: sample.prices,
				// button
				contracted: true,
				// modal
				modalOpen: false,
			}, // data

			methods: {
				escapeKeyListener: function(evt) {
				  if (evt.key === 'Escape' && this.modalOpen) {
				    this.modalOpen = false;
				  }
				}
			}, // methods

			watch: {
				modalOpen: function() {
					var className = 'modal-open';
					if (this.modalOpen) {
						document.body.classList.add(className);
					} else {
						document.body.classList.remove(className);
					}
				}
			}, // watch

			// Vue Lifecycle Hook
			// https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks
			created: function() {
				document.addEventListener('keyup', this.escapeKeyListener);
			},
			destroyed: function() {
				document.removeEventListener('keyup', this.escapeKeyListener);
			}
		});
	</script>
</body>
</html>
